.app{
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  background-color: #3b3d4ae6;
  overflow-x: hidden;
  background-blend-mode: overlay;
}

.app__container{
  height: 90vh;
  width: 95vw;

  background-color: #232429dd;
  color: white;
  display: flex;
}

